In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
data=pd.read_csv('car data.csv')
print(data.shape)
data.head()

(301, 9)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
print('Unique Values of Fuel Type',data['Fuel_Type'].unique())
print('Unique Values of Transmission',data['Transmission'].unique())
print('Unique Values of Selling Type',data['Selling_type'].unique())
print('Unique Values of Owner',data['Owner'].unique())
print('Unique Values of Year',data['Year'].unique())

Unique Values of Fuel Type ['Petrol' 'Diesel' 'CNG']
Unique Values of Transmission ['Manual' 'Automatic']
Unique Values of Selling Type ['Dealer' 'Individual']
Unique Values of Owner [0 1 3]
Unique Values of Year [2014 2013 2017 2011 2018 2015 2016 2009 2010 2012 2003 2008 2006 2005
 2004 2007]

In [4]:
data.shape

(301, 9)

In [5]:
data.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [6]:
data.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [7]:
data.duplicated().sum()

2

In [8]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       299 non-null    object
 1   Year           299 non-null    int64
 2   Selling_Price  299 non-null    float64
 3   Present_Price  299 non-null    float64
 4   Driven_kms     299 non-null    int64
 5   Fuel_Type      299 non-null    object
 6   Selling_type   299 non-null    object
 7   Transmission   299 non-null    object
 8   Owner          299 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 23.4+ KB

In [10]:
#hot encoding
encoder=LabelEncoder()

encoder.fit(data['Fuel_Type'])
data['Fuel_Type']=encoder.fit_transform(data['Fuel_Type'])
dictft=dict(enumerate(encoder.classes_))
print(dictft)

encoder.fit(data['Selling_type'])
data['Selling_type']=encoder.fit_transform(data['Selling_type'])
dictst=dict(enumerate(encoder.classes_))
print(dictst)

encoder.fit(data['Transmission'])
data['Transmission']=encoder.fit_transform(data['Transmission'])
dicttr=dict(enumerate(encoder.classes_))
print(dicttr)

encoder.fit(data['Car_Name'])
data['Car_Name']=encoder.fit_transform(data['Car_Name'])
dictcn=dict(enumerate(encoder.classes_))
print(dictcn)

data.head()

{0: 'CNG', 1: 'Diesel', 2: 'Petrol'}
{0: 'Dealer', 1: 'Individual'}
{0: 'Automatic', 1: 'Manual'}
{0: '800', 1: 'Activa 3g', 2: 'Activa 4g', 3: 'Bajaj  ct 100', 4: 'Bajaj Avenger 150', 5: 'Bajaj Avenger 150 street', 6: 'Bajaj Avenger 220', 7: 'Bajaj Avenger 220 dtsi', 8: 'Bajaj Avenger Street 220', 9: 'Bajaj Discover 100', 10: 'Bajaj Discover 125', 11: 'Bajaj Dominar 400', 12: 'Bajaj Pulsar  NS 200', 13: 'Bajaj Pulsar 135 LS', 14: 'Bajaj Pulsar 150', 15: 'Bajaj Pulsar 220 F', 16: 'Bajaj Pulsar NS 200', 17: 'Bajaj Pulsar RS200', 18: 'Hero  CBZ Xtreme', 19: 'Hero  Ignitor Disc', 20: 'Hero Extreme', 21: 'Hero Glamour', 22: 'Hero Honda CBZ extreme', 23: 'Hero Honda Passion Pro', 24: 'Hero Hunk', 25: 'Hero Passion Pro', 26: 'Hero Passion X pro', 27: 'Hero Splender Plus', 28: 'Hero Splender iSmart', 29: 'Hero Super Splendor', 30: 'Honda Activa 125', 31: 'Honda Activa 4G', 32: 'Honda CB Hornet 160R', 33: 'Honda CB Shine', 34: 'Honda CB Trigger', 35: 'Honda CB Unicorn', 36: 'Honda CB twister', 37: 'Honda CBR 150', 38: 'Honda Dream Yuga ', 39: 'Honda Karizma', 40: 'Hyosung GT250R', 41: 'KTM 390 Duke ', 42: 'KTM RC200', 43: 'KTM RC390', 44: 'Mahindra Mojo XT300', 45: 'Royal Enfield Bullet 350', 46: 'Royal Enfield Classic 350', 47: 'Royal Enfield Classic 500', 48: 'Royal Enfield Thunder 350', 49: 'Royal Enfield Thunder 500', 50: 'Suzuki Access 125', 51: 'TVS Apache RTR 160', 52: 'TVS Apache RTR 180', 53: 'TVS Jupyter', 54: 'TVS Sport ', 55: 'TVS Wego', 56: 'UM Renegade Mojave', 57: 'Yamaha FZ  v 2.0', 58: 'Yamaha FZ 16', 59: 'Yamaha FZ S ', 60: 'Yamaha FZ S V 2.0', 61: 'Yamaha Fazer ', 62: 'alto 800', 63: 'alto k10', 64: 'amaze', 65: 'baleno', 66: 'brio', 67: 'camry', 68: 'ciaz', 69: 'city', 70: 'corolla', 71: 'corolla altis', 72: 'creta', 73: 'dzire', 74: 'elantra', 75: 'eon', 76: 'ertiga', 77: 'etios cross', 78: 'etios g', 79: 'etios gd', 80: 'etios liva', 81: 'fortuner', 82: 'grand i10', 83: 'i10', 84: 'i20', 85: 'ignis', 86: 'innova', 87: 'jazz', 88: 'land cruiser', 89: 'omni', 90: 'ritz', 91: 's cross', 92: 'swift', 93: 'sx4', 94: 'verna', 95: 'vitara brezza', 96: 'wagon r', 97: 'xcent'}

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0
3,96,2011,2.85,4.15,5200,2,0,1,0
4,92,2014,4.60,6.87,42450,1,0,1,0

In [11]:
X=data.drop(columns=['Selling_Price'],axis=1)
X=X.values
Y=data[['Selling_Price']].values.flatten()

In [12]:
#split data
x_train, x_test, y_train, y_test=train_test_split(X,Y,test_size=0.2)

In [23]:
dt_model=DecisionTreeRegressor(random_state=42)
dt_model.fit(x_train,y_train)
y_test_pred=dt_model.predict(x_test)

#MSE
mse=mean_squared_error(y_test, y_test_pred)
print("Mean Squared Error: ",mse)

#R2 SCORE
r2_sco=r2_score(y_test, y_test_pred)
print("R2 Score: ",r2_sco)

Mean Squared Error:  0.9140766666666668
R2 Score:  0.9321122085871781

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

# Step 4: Evaluate the model
Y_pred = model.predict(x_test)

# Calculate performance metrics
mse = mean_squared_error(y_test, Y_pred)
r2 = r2_score(y_test, Y_pred)

print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Mean Squared Error (MSE): 7.74
R-squared (R2): 0.43

In [19]:
from sklearn.ensemble import RandomForestRegressor

# Create a Random Forest Regressor model
rf_model = RandomForestRegressor(random_state=17)

# Fit the model to the training data
rf_model.fit(x_train, y_train)

# Make predictions on the test data
rf_Y_pred = rf_model.predict(x_test)

# Calculate performance metrics for the Random Forest model
rf_mse = mean_squared_error(y_test, rf_Y_pred)
rf_r2 = r2_score(y_test, rf_Y_pred)

print(f"Random Forest Mean Squared Error (MSE): {rf_mse:.2f}")
print(f"Random Forest R-squared (R2): {rf_r2:.2f}")

Random Forest Mean Squared Error (MSE): 0.23
Random Forest R-squared (R2): 0.98

In [21]:
a=rf_model.score(x_test,y_test)
a

0.9827282190638466