In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Advertising.csv')
df.head(-5)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
190         191   39.5   41.1        5.8   10.8
191         192   75.5   10.8        6.0    9.9
192         193   17.2    4.1       31.6    5.9
193         194  166.8   42.0        3.6   19.6
194         195  149.7   35.6        6.0   17.3

[195 rows x 5 columns]

In [7]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [8]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [9]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [12]:
from sklearn.model_selection import train_test_split
x = df.drop(['Sales'], axis=1)
y = df['Sales']

In [16]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [18]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Create and train models
decision_tree_model = DecisionTreeRegressor(random_state=42)
random_forest_model = RandomForestRegressor(random_state=42)
linear_regression_model = LinearRegression()

# Train models
decision_tree_model.fit(X_train, y_train)
random_forest_model.fit(X_train, y_train)
linear_regression_model.fit(X_train, y_train)

# Make predictions
dt_predictions = decision_tree_model.predict(X_test)
rf_predictions = random_forest_model.predict(X_test)
lr_predictions = linear_regression_model.predict(X_test)

# Evaluate models
dt_mse = mean_squared_error(y_test, dt_predictions)
rf_mse = mean_squared_error(y_test, rf_predictions)
lr_mse = mean_squared_error(y_test, lr_predictions)

print("Decision Tree MSE:", dt_mse, 'And Score is :',linear_regression_model.score(X_test,y_test))
print("Random Forest MSE:", rf_mse, 'And Score is :',random_forest_model.score(X_test,y_test))
print("Linear Regression MSE:", lr_mse, 'And Score is :',decision_tree_model.score(X_test,y_test))

Decision Tree MSE: 1.2944999999999993 And Score is : 0.8733936831022409
Random Forest MSE: 0.6701043499999955 And Score is : 0.9681116702927055
Linear Regression MSE: 2.6605170126317206 And Score is : 0.9383984855402103